@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333D4B;
}

img {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 719px;
  }
}
@media only screen and (max-width: 719px) {
  .container {
    max-width: 357px;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav__list-item {
  color: #83888F;
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 719px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__list-item {
    margin: 0;
    margin-bottom: 24px;
  }
  .nav__list-item:last-child {
    margin-bottom: 0;
  }
}
.intro {
  background-image: url(../img/backgorund-coffe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 117px;
  padding-left: 85px;
  padding-bottom: 116px;
}

.intro__content {
  max-width: 520px;
}

.intro__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 56px;
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .intro {
    background-image: url(../../img/intro-bg-tablet.png);
    background-size: cover;
    background-position: center;
    max-width: 689px;
    height: 500;
    padding-top: 104px;
    padding-left: 58px;
    padding-bottom: 103px;
  }
  .intro__content {
    max-width: 398px;
  }
  .intro__title {
    font-size: 48px;
    line-height: 48px;
  }
  .intro__description {
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0 40px;
  }
}
@media screen and (max-width: 1280px) {
  .intro {
    background-image: url(../../img/intro-bg-tablet.png);
  }
}
@media screen and (max-width: 719px) {
  .intro__content-wrapper {
    position: relative;
  }
  .intro {
    background-image: url(../../img/intro-bg-mobile.png);
    max-width: 327px;
    padding: 100px 24px;
  }
  .intro__content {
    max-width: 279px;
    text-align: center;
  }
  .intro__title {
    font-size: 40px;
    line-height: 40px;
  }
  .intro__description {
    margin-bottom: 39px;
  }
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-header__logo {
  z-index: 1;
}

.site-header__logo-img {
  width: 236px;
  height: 26px;
}

.site-header__burger {
  display: none;
  z-index: 1;
}

.site-header__nav-link:hover {
  transition: 0.5s ease all;
  color: #333D4B;
}

@media screen and (max-width: 1280px) {
  .site-header__logo-img {
    width: 235px;
    height: 25px;
  }
}
@media only screen and (max-width: 719px) {
  @-webkit-keyframes nav-open {
    0% {
      transform: translateY(-100%);
    }
  }
  @keyframes nav-open {
    0% {
      transform: translateY(-100%);
    }
  }
  .site-header {
    position: relative;
  }
  .site-header__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 82px);
    background-color: #fff;
    background: linear-gradient(180deg, #FEFCF7 55.94%, rgba(254, 252, 247, 0.504981) 100%);
  }
  .site-header__button {
    display: inline-block;
  }
  .site-header__logo-img {
    width: 140px;
    height: 18px;
  }
  .site-header__burger {
    cursor: pointer;
    min-height: 15px;
    width: 20px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
  }
  .site-header__burger-inner,
.site-header__burger::after,
.site-header__burger::before {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #333D4B;
    content: "";
    border-radius: 1.5px;
    transition: 0.5s ease all;
  }
  .site-header__burger-inner {
    margin: 3px 0;
  }
  .site-header__burger--opened .site-header__burger-inner {
    display: none;
  }
  .site-header__burger--opened::before,
.site-header__burger--opened::after {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .site-header__burger--opened::before {
    transform: translateY(-50%) rotate(45deg);
  }
  .site-header__burger--opened::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .site-header__nav--opened {
    background-color: #FEFCF7;
  }
  .site-header__nav--opened .site-header__nav {
    display: block;
    -webkit-animation: 0.3s ease nav-open;
            animation: 0.3s ease nav-open;
  }
  .site-header__nav-link {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
  .site-header__nav--opened {
    display: block;
    z-index: 1;
  }
}
.collection {
  margin-top: 136px;
}

.collection__title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 150px;
  text-align: center;
  font-weight: 900;
  position: relative;
  text-transform: lowercase;
  opacity: 0.5;
  line-height: 1.5;
  color: #333D4B;
}
.collection__title::before {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.412) 0%, #fefcf7 100%);
}

.collection__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  transform: translateY(calc(-50% + 90px));
}

.collection__item {
  width: 256px;
  margin-right: 30px;
}

.collection__item:last-child,
.collection__item:nth-child(4n) {
  margin-right: 0;
}

.collection__item-title {
  margin-top: 71px;
  margin-bottom: 24px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection__item-description {
  margin: 0;
  text-align: center;
  color: #85909e;
}

@media screen and (max-width: 1280px) {
  .collection {
    margin-top: 144px;
  }
  .collection__title {
    font-size: 96px;
  }
  .collection__list {
    flex-direction: column;
    transform: translateY(-76px);
    padding-left: 59px;
  }
  .collection__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 47px;
  }
  .collection__item:last-child {
    margin-bottom: 0;
    padding-left: 27px;
  }
  .collection__item-content {
    max-width: 282px;
    margin-left: 36px;
    padding-bottom: 24px;
  }
  .collection__item-title {
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    line-height: 32px;
  }
  .collection__item-description {
    margin: 0;
    text-align: left;
    color: #85909e;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 719px) {
  .collection {
    margin-top: 120px;
  }
  .collection__title {
    font-size: 40px;
    text-align: center;
  }
  .collection__list {
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    padding: 0;
  }
  .collection__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .collection__item:last-child {
    padding-left: 0;
  }
  .collection__item-title, .collection__item-description {
    text-align: center;
  }
  .collection__item-content {
    margin: 0;
  }
}
.benefits {
  position: relative;
  margin-top: 188px;
  color: #fff;
}
.benefits::before {
  height: 577px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 100px 85px;
  color: #FEFCF7;
  padding: 100px 317px 370px;
  padding: 0;
  content: "";
}

.benefits__wrapper {
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  max-width: 540px;
  margin: 0 auto;
  padding-top: 100px;
}

.benefits__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  margin: 0 0 32px 0;
}

.benefits__description {
  margin: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-top: 86px;
}

.benefits__list-item {
  background: #0E8784;
  border-radius: 8px;
  width: 350px;
  padding: 72px 48px 48px 47px;
  text-align: center;
  margin-right: 30px;
}
.benefits__list-item:nth-child(3n) {
  margin-right: 0;
}

.benefits__list-item::before {
  background: url(../../img/coffee.svg) no-repeat center center;
  content: "";
  display: block;
  width: 71px;
  height: 71px;
  margin-left: 130px;
}

.benefits__list-title {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
}

.benefits__list-descriptiom {
  margin: 0;
}

.benefits__list-item--quality::before {
  background: url(../../img/coffee-bean.svg) no-repeat center center;
  content: "";
  display: block;
  width: 71px;
  height: 71px;
  margin: 0 auto;
}

.benefits__list-item--benefits::before {
  background: url(../../img/exclusive-benefits.svg);
  content: "";
  display: block;
  margin: 0 auto;
}

.benefits__list-item--shipping::before {
  background: url(../../img/delivery.svg) no-repeat center center;
  content: "";
  display: block;
  width: 71px;
  height: 71px;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .benefits {
    padding: 56px 57px 368px 58px;
    height: 573px;
  }
  .benefits__wrapper {
    padding: 0;
  }
  .benefits__title {
    font-size: 32px;
    margin: 0 0 24px 0;
  }
  .benefits__description {
    font-size: 15px;
    line-height: 25px;
  }
  .benefits__list {
    margin-top: 70px;
  }
  .benefits__list-item {
    width: 100%;
    padding: 41px 48px 41px 70px;
    text-align: left;
    margin-bottom: 24px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits__list-item-wrapper {
    width: 344px;
  }
  .benefits__list-title {
    margin: 0;
    margin-bottom: 16px;
  }
  .benefits__list-descriptiom {
    font-size: 15px;
    line-height: 25px;
  }
  .benefits__list-item--quality::before,
.benefits__list-item--benefits::before,
.benefits__list-item--shipping::before {
    margin: 0;
    margin-right: 56px;
    width: 55px;
    height: 56px;
    background-size: cover;
  }
  .benefits__list-item--shipping::before {
    width: 55px;
    height: 39px;
  }
}
@media only screen and (max-width: 719px) {
  .benefits {
    margin-top: 0px;
    padding: 64px 24px 661px 24px;
  }
  .benefits::before {
    height: 902px;
  }
  .benefits__title {
    font-size: 28px;
    line-height: 28px;
  }
  .benefits__list {
    margin-top: 64px;
  }
  .benefits__list-item {
    width: 100%;
    padding: 72px 35px 51px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefits__list-item-wrapper {
    width: 100%;
  }
  .benefits__list-title {
    margin: 0;
    margin-top: 56px;
    margin-bottom: 24px;
  }
  .benefits__list-item--quality::before,
.benefits__list-item--benefits::before,
.benefits__list-item--shipping::before {
    margin: 0;
  }
}
.works {
  width: 1110px;
  display: block;
  margin: 0 auto;
  margin-top: 434px;
}

.works__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 0;
  margin-bottom: 80px;
}

.works__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 1045px;
  justify-content: flex-start;
  position: relative;
}

.works__list::before {
  position: absolute;
  right: 260px;
  top: 15px;
  content: "";
  display: block;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
}

.works__link-wrapper {
  margin: 64px 0 200px;
}

@media screen and (max-width: 1280px) {
  .works {
    width: 689px;
  }
  .works__title {
    margin-bottom: 40px;
  }
  .works__list {
    width: 689px;
  }
  .works__list::before {
    width: 467px;
    left: 30px;
  }
  .works__link-wrapper {
    margin: 44px 0 144px;
  }
}
@media screen and (max-width: 719px) {
  .works {
    width: 100%;
    margin-top: 900px;
  }
  .works__title {
    margin-bottom: 80px;
    text-align: center;
  }
  .works__list {
    width: 327px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .works__list::before {
    display: none;
  }
  .works__link-wrapper {
    margin: 79px 0 120px;
    text-align: center;
  }
}
.works-dark {
  background-color: #2C343E;
  margin-top: 168px;
  border-radius: 10px;
  padding-top: 100px;
  padding-left: 85px;
  padding-bottom: 100px;
}

.works-dark__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
}
.works-dark__list::before {
  position: absolute;
  right: 420px;
  top: 15px;
  content: "";
  display: block;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
}

@media only screen and (max-width: 1280px) {
  .works-dark__wrapper {
    background-color: #2C343E;
  }
  .works-dark {
    margin-top: 144px;
    padding: 97px 0;
  }
  .works-dark__list::before {
    position: absolute;
    right: 206px;
    top: 15px;
    content: "";
    display: block;
    width: 467px;
    height: 1px;
    background-color: #FDD6BA;
  }
}
@media only screen and (max-width: 719px) {
  .works-dark {
    margin-top: 120px;
    padding: 80px 0;
  }
  .works-dark__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .works-dark__list::before {
    display: none;
  }
}
.works-item {
  margin-right: 95px;
}

.works-item__dark {
  max-width: 285px;
}

.works-item:last-child {
  margin-right: 0;
}

.works__item-number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.works-item__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin: 0;
}

.works-item__number::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  margin-bottom: 67px;
  position: relative;
  z-index: 1;
}

.works-item__number-dark::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: transparent;
  border: 2px solid #0E8784;
  border-radius: 50%;
  margin-bottom: 67px;
  position: relative;
  z-index: 1;
}

.works-item__title {
  -moz-columns: #85909e;
       columns: #85909e;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  margin: 38px 0 42px;
}

.works-item__title-dark {
  color: #FEFCF7;
}

.works-item__title--coffee {
  width: 255px;
}

.works-item__description {
  margin: 0;
}

.works-item__description-dark {
  color: #FEFCF7;
}

@media screen and (max-width: 1280px) {
  .works-item {
    max-width: 223px;
    margin-right: 10px;
  }
  .works-item__title {
    -moz-columns: #85909e;
         columns: #85909e;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    margin: 42px 0 38px;
  }
  .works-item__title--coffee {
    width: 100%;
  }
  .works-item__description {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 719px) {
  .works-item {
    max-width: 327px;
    margin-right: 0;
    margin-bottom: 56px;
  }
  .works-item__number {
    text-align: center;
  }
  .works-item__number::before {
    display: none;
  }
  .works-item__title {
    text-align: center;
    margin: 24px 0 24px;
  }
  .works-item__description {
    max-width: 327px;
    text-align: center;
  }
}
.footer {
  background: #2C343E;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 72px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin-left: auto;
}

.footer__nav-media-wrapper {
  width: 772px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-media-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer__media-link {
  margin-right: 24px;
}

.footer__media-link:last-child {
  margin-right: 0;
  color: #2C343E;
}

.footer__media-link-hover:hover {
  fill: #FDD6BA;
  transition: 0.5s ease all;
}

.footer__nav-item-link:hover {
  transition: 0.5s ease all;
  cursor: pointer;
  color: #FEFCF7;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 54px 160px 54px 185px;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    margin-left: auto;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .footer__nav-media-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer__nav {
    margin-top: 33px;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 719px) {
  .footer {
    padding: 55px;
  }
}
.main-link {
  font-family: "Fraunces";
  font-size: 18px;
  min-width: 217px;
  display: inline-block;
  background-color: #0E8784;
  padding: 15px 31px;
  border: none;
  border-radius: 6px;
  color: #FEFCF7;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: 0.5s ease all;
}
.main-link:hover {
  background: #66D2CF;
  cursor: pointer;
}

.about-us {
  background: url(../../img/intro-bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .about-us {
    background: url(../../img/intro-bg@2x.jpg) no-repeat;
    background-size: cover;
  }
}
.about-us__content {
  width: 100%;
  padding: 137px 750px 137px 85px;
}

.about-us__title {
  margin: 0;
  font-family: "Fraunces", serif !important;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.about-us__description {
  margin: 0;
  color: #FEFCF7;
}

@media only screen and (max-width: 1280px) {
  .about-us {
    background: url("../../img/intro-about-tablet.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .about-us {
    background: url("../../img/intro-about-tablet@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) {
  .about-us__content {
    width: 100%;
    padding: 118px 233px 118px 58px;
  }
}
@media only screen and (max-width: 1280px) {
  .about-us__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1280px) {
  .about-us__description {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 719px) {
  .about-us {
    background: url(../../img/intro-about-mobile.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .about-us {
    background: url(../../img/intro-about-mobile@2x.jpg) no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 719px) {
  .about-us__content {
    width: 100%;
    padding: 111px 24px 87px;
    text-align: center;
  }
}
@media only screen and (max-width: 719px) {
  .about-us__title {
    font-size: 28px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 719px) {
  .about-us__description {
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.commitment {
  margin-top: 168px;
  padding: 0 85px;
  margin-bottom: 256px;
}

.commitment__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commitment__content {
  max-width: 540px;
  margin-left: 125px;
}

.commitment__content-wrapper::before {
  content: "";
  display: block;
  width: 445px;
  height: 520px;
  background-image: url(../../img/commitment-desctop.jpg);
}

.commitment__title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.commmitment__description {
  margin: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 1280px) {
  .commitment {
    margin-top: 144px;
    padding: 0;
  }
  .commitment__content {
    max-width: 339px;
    margin-left: 69px;
  }
  .commitment__content-wrapper::before {
    content: "";
    display: block;
    width: 281px;
    height: 470px;
    background-image: url(../../img/commitment-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .commitment__content-wrapper::before {
    background: url("../../img/commitment-tablet@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) {
  .commitment__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1280px) {
  .commmitment__description {
    margin: 0;
    mix-blend-mode: normal;
    opacity: 0.8;
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 719px) {
  .commitment {
    margin-top: 120px;
  }
  .commitment__content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .commitment__content-wrapper::before {
    content: "";
    display: block;
    width: 100%;
    height: 400px;
    background-image: url(../../img/commitment-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .commitment__content-wrapper::before {
    background: url("../../img/commitment-mobile@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 719px) {
  .commitment__content {
    width: 100%;
    margin-left: 0;
    margin-top: 48px;
    text-align: center;
  }
}
.quality {
  position: relative;
  padding-top: 88px;
  padding-left: 85px;
}
.quality::before {
  background: #2C343E;
  content: "";
  width: 100%;
  height: 474px;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border-radius: 10px;
}

.quality__content-wrapper {
  display: flex;
  z-index: 1;
}
.quality__content-wrapper::after {
  content: "";
  display: block;
  width: 445px;
  background: #0E8784;
  background: url("../../img/quality-img-desctop.jpg");
  height: 474px;
  right: 0;
  top: 0;
  transform: translate(-85px, -88px);
  position: absolute;
  border-radius: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .quality__content-wrapper::after {
    background: url("../../img/quality-img-desctop@2x.jpg") no-repeat;
    background-size: cover;
  }
}
.quality__content {
  position: relative;
  z-index: 1;
  color: #FEFCF7;
  max-width: 540px;
}

.quality__title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.quality__description {
  margin: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 1280px) {
  .quality {
    position: relative;
    padding: 0;
    padding-top: 224px;
    padding-bottom: 67px;
  }
  .quality::before {
    background: #2C343E;
    content: "";
    width: 100%;
    height: 488px;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
  }
}
@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .quality__content-wrapper::after {
    background: url("../../img/quality-tablet@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) {
  .quality__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quality__content-wrapper::after {
    content: "";
    display: block;
    width: 573px;
    background: #0E8784;
    background: url("../../img/quality-tablet.jpg") no-repeat;
    height: 320px;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 8px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1280px) {
  .quality__content {
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 719px) {
  .quality {
    padding: 142px 24px 61px;
  }
  .quality::before {
    height: 509px;
  }
  .quality__content-wrapper::after {
    max-width: 279px;
    height: 156px;
    background: url("../../img/quality-mobile.jpg") no-repeat;
    border-radius: 10px;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .quality__content-wrapper::after {
    background: url("../../img/quality-mobile@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 719px) {
  .quality__content {
    position: relative;
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 719px) {
  .quality__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 719px) {
  .quality__description {
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.headquarter {
  margin-top: 344px;
  margin-bottom: 168px;
}

.headquarter__content {
  padding-left: 85px;
}

.headquarter__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 0;
}

.headquarter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
  .headquarter {
    margin-top: 144px;
    margin-bottom: 144px;
  }
  .headquarter__content {
    padding-left: 0;
  }
}
@media only screen and (max-width: 719px) {
  .headquarter {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .headquarter__title {
    text-align: center;
  }
  .headquarter__list {
    flex-direction: column;
    align-items: center;
  }
}
.headquarter-item {
  width: 285px;
  margin-left: 95px;
}
.headquarter-item:nth-child(1) {
  margin-left: 0;
}

.headquarter-item__img-wrapper {
  min-height: 49px;
  margin-bottom: 45px;
}

.headquarter__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.headquarter-item__description {
  margin: 0;
}

.header-item__description-info {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .headquarter-item {
    width: 223px;
    margin-left: 10px;
  }
  .headquarter-item__img {
    margin-bottom: 49px;
  }
  .headquarter__item-title {
    font-size: 24px;
    margin-bottom: 21px;
  }
}
@media only screen and (max-width: 719px) {
  .headquarter-item {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .headquarter-item:last-child {
    margin: 0;
  }
  .headquarter-item__img {
    margin-bottom: 47px;
  }
  .headquarter__item-title {
    font-size: 28px;
    margin-bottom: 22px;
  }
  .headquarter-item__description {
    text-align: center;
  }
}
.intro-plan {
  background: #A2A2A2;
  background-image: url(../../img/plan-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 134px 0 134px 85px;
  transition: 0.9s ease all;
  border-radius: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .intro-plan {
    background: url("../../img/plan-intro@2x.jpg") no-repeat;
    background-size: cover;
  }
}
.intro-plan__content {
  max-width: 445px;
  color: #FEFCF7;
}

.intro-plan__title {
  margin: 0;
  font-family: "Fraunces", serif !important;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.intro-plan__description {
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
}

@media only screen and (max-width: 1280px) {
  .intro-plan {
    background-image: url(../../img/plan-intro-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 127px 0 126px 58px;
  }
}
@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 1280px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .intro-plan {
    background: url("../../img/plan-intro-tablet@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 1280px) {
  .intro-plan__content {
    max-width: 398px;
  }
}
@media only screen and (max-width: 1280px) {
  .intro-plan__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 719px) {
  .intro-plan {
    background-image: url(../../img/plan-intro-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 101px 24px 136px;
  }
}
@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min–moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 192dpi) and (min-width: 320px), only screen and (max-width: 719px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .intro-plan {
    background: url("../../img/plan-intro-mobile@2x.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 719px) {
  .intro-plan__content {
    max-width: 279px;
    text-align: center;
  }
}
@media only screen and (max-width: 719px) {
  .intro-plan__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 719px) {
  .intro-plan__description {
    font-size: 15px;
    line-height: 25px;
  }
}
.create-plan {
  margin-top: 168px;
  display: flex;
  padding: 0 85px;
}

.create-plan__section {
  max-width: 730px;
  margin-left: 125px;
}

.create-plan__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.create-plan__button-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  margin-top: 88px;
}

.create-plan__button-title-wrapper--first {
  margin-top: 0;
}

.create-plan__item-title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  position: relative;
  max-width: 100%;
}

.create-plan__button-wrapper {
  text-align: right;
}

.create-plan__item-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 19px;
  height: 12px;
}
.create-plan__item-button::before, .create-plan__item-button::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  background-color: #0E8784;
  transition: 0.2s ease all;
}
.create-plan__item-button::before {
  transform: translateY(50%) rotate(-45deg);
}
.create-plan__item-button::after {
  transform: translateX(-60%) translateY(-50%) rotate(45deg);
}

.create-plan__item-button-opened::before {
  transform: translateY(50%) rotate(45deg);
}

.create-plan__item-button-opened::after {
  transform: translateX(-60%) translateY(-50%) rotate(-45deg);
}

.create-plan__modal-description {
  margin: 0;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.create-plan__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.create-plan__modal-price {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

@media only screen and (max-width: 1280px) {
  .create-plan {
    margin-top: 144px;
    display: block;
    padding: 0;
  }
  .create-plan__section {
    max-width: 100%;
    margin-left: 0;
  }
  .create-plan__button-title-wrapper {
    max-width: 100%;
    margin-top: 100px;
  }
  .create-plan__item-title {
    font-size: 32px;
  }
  .create-plan__button-wrapper {
    text-align: center;
  }
  .create-plan__modal-description {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 719px) {
  .create-plan {
    margin-top: 120px;
  }
  .create-plan__button-title-wrapper {
    max-width: 100%;
    margin-top: 110px;
  }
  .create-plan__item-title {
    font-size: 24px;
  }
  .create-plan__item-button {
    margin-left: 69px;
  }
  .create-plan__modal-description {
    margin: 0;
  }
  .create-plan__modal-description {
    font-size: 15px;
    line-height: 25px;
  }
  .create-plan__price-wrapper {
    margin-top: 24px;
  }
  .create-plan__modal-price {
    display: none;
  }
}
.nav-plan {
  max-width: 255px;
}

.nav-plan__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-plan__item {
  margin-bottom: 49px;
  position: relative;
}
.nav-plan__item:last-child {
  margin-bottom: 0;
}
.nav-plan__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #83888F;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  top: -24px;
}
.nav-plan__item:nth-child(1)::before {
  display: none;
}

.nav-plan__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-plan__link-number {
  margin-right: 29px;
  color: #83888F;
}

.nav-plan__link-number--first {
  color: #0E8784;
}

@media only screen and (max-width: 1280px) {
  .nav-plan {
    display: none;
  }
}
@-webkit-keyframes plan-list-open {
  0% {
    transform: translateY(-20%);
  }
}
@keyframes plan-list-open {
  0% {
    transform: translateY(-20%);
  }
}
.plan-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  display: none;
  margin-top: 56px;
}

.plan-list__item {
  position: relative;
  margin-right: 23px;
  max-width: 228px;
  z-index: 5;
}
.plan-list__item:nth-child(3n) {
  margin-right: 0;
}

.plan-list__item-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.plan-list__item-label:hover ~ .plan-list__item-content {
  background-color: #FDD6BA;
  transition: 0.4s ease all;
}

.plan-list__item-input:checked + .plan-list__item-content {
  background-color: #0E8784;
  transition: 0.4s ease all;
  color: #FFFFFF;
}

.plan-list__item-input:checked + .plan-list__item-content > .plan-list__title {
  color: #FFFFFF;
}

.plan-list__item-content {
  padding: 32px 25px 84px 28px;
  background: #F4F1EB;
  border-radius: 8px;
}
.plan-list__item-content:hover {
  background-color: #FDD6BA;
}

.plan-list__title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.plan-list__description {
  margin: 0;
  margin-top: 24px;
}

.plan-list--opened {
  display: flex;
}

.plan-list--opened {
  display: flex;
  -webkit-animation: plan-list-open 0.9s ease;
          animation: plan-list-open 0.9s ease;
}

@media only screen and (max-width: 1280px) {
  @-webkit-keyframes plan-list-open {
    0% {
      transform: translateY(-18%);
    }
  }
  @keyframes plan-list-open {
    0% {
      transform: translateY(-18%);
    }
  }
  .plan-list {
    margin-top: 40px;
  }
  .plan-list__item {
    margin-right: 10px;
    max-width: 223px;
  }
  .plan-list__item-content {
    padding: 32px 26px 84px 23px;
  }
  .plan-list--opened {
    display: flex;
  }
  .plan-list--opened {
    display: flex;
    -webkit-animation: plan-list-open 0.9s ease;
            animation: plan-list-open 0.9s ease;
  }
}
@media only screen and (max-width: 719px) {
  @-webkit-keyframes plan-list-open {
    0% {
      transform: translateY(-10%);
    }
  }
  @keyframes plan-list-open {
    0% {
      transform: translateY(-10%);
    }
  }
  .plan-list {
    margin-top: 32px;
    flex-direction: column;
  }
  .plan-list__item {
    position: relative;
    margin-right: 0;
    max-width: 100%;
    z-index: 5;
    margin-bottom: 16px;
  }
  .plan-list__item:nth-child(3n) {
    margin-bottom: 0;
  }
  .plan-list__item-content {
    padding: 25px;
    background: #F4F1EB;
    border-radius: 8px;
  }
  .plan-list__item-content:hover {
    background-color: #FDD6BA;
  }
  .plan-list__description {
    margin: 0;
    margin-top: 8px;
  }
  .plan-list--opened {
    display: flex;
    -webkit-animation: plan-list-open 0.9s ease;
            animation: plan-list-open 0.9s ease;
  }
}
.summary {
  margin-top: 88px;
  padding: 47px 64px;
  background: #2C343E;
  border-radius: 10px;
}

.summary-title {
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.summary-description {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.summary-link {
  border: none;
  margin-top: 40px;
  margin-bottom: 168px;
}

.summary-description__span {
  color: #0E8784;
}

.summary-description__creating-plan {
  color: #83888F;
  font-size: 24px;
}

@media only screen and (max-width: 1280px) {
  .summary {
    margin-top: 140px;
    padding: 27px 44px;
  }
  .summary-link {
    margin-bottom: 144px;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 5;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(51, 61, 75);
  background: linear-gradient(180deg, rgb(51, 61, 75) 0%, rgb(51, 61, 75) 23%, rgb(254, 252, 247) 23%);
  padding: 48px 56px 56px;
  width: 540px;
  border-radius: 0.5rem;
}

.modal-title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.modal-body {
  margin-top: 57px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal__button-mobile {
  display: none;
}

.modal__button-span {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .modal-body {
    margin-top: 97px;
  }
}
@media only screen and (max-width: 719px) {
  .modal-content {
    padding: 28px 24px 24px;
    width: 327px;
    background: rgb(51, 61, 75);
    background: linear-gradient(180deg, rgb(51, 61, 75) 0%, rgb(51, 61, 75) 15%, rgb(254, 252, 247) 15%);
  }
  .modal-title {
    font-size: 28px;
    line-height: 32px;
  }
  .modal-body {
    margin-top: 68px;
  }
  .modal__button-big-screen {
    width: 100%;
  }
  .modal__button-span {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */