*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333D4B;
}

img {
  display: block;
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.intro {
  margin-top: 34px;
  background-image: url(../img/backgorund-coffe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 85px;
}

.intro__content {
  width: 520px;
}

.intro__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  margin-top: 32px;
  opacity: 0.8;
}

.intro-link {
  font-family: "Fraunces", serif;
  display: inline-flex;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  margin-top: 56px;
  margin-bottom: 116px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav__list-item {
  color: #83888F;
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.collection {
  margin-top: 136px;
}

.collection__title {
  font-family: "Fraunces", serif;
  font-size: 179px;
  font-weight: 900;
  position: relative;
  text-transform: lowercase;
  opacity: 0.3;
}
.collection__title::before {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.collection__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  transform: translateY(calc(-50% - 80px));
}

.collection__item {
  width: 256px;
  margin-right: 80px;
}

.collection__item:last-child {
  margin-right: 0;
}

.collection__item-title {
  margin-top: 71px;
  margin-bottom: 24px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection__item-description {
  text-align: center;
  color: #333D4B;
}

.benefits {
  background-color: #2C343E;
  border-radius: 10px;
  padding: 100px 85px;
  color: #FEFCF7;
  padding-bottom: 317px;
  margin-bottom: 351px;
}

.benefits__title {
  margin: 0 0 32px 0;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.benefits__description {
  width: 540px;
  margin: 0;
  text-align: center;
  margin: 0 auto;
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-items: center;
  margin-top: 86px;
  position: absolute;
}

.benefits__item {
  background-color: #0E8784;
  margin-right: 30px;
  width: 350px;
  border-radius: 8px;
  padding: 72px 20px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__item--quality::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(../../img/coffee-bean.svg);
  background-repeat: no-repeat;
}

.benefits__item--exclusive::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(../../img/exclusive-benefits.svg);
  background-repeat: no-repeat;
}

.benefits__item--shipping::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(../../img/delivery.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits__item-title {
  font-family: "Fraunces";
  margin: 0;
  margin-top: 56px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
}

.benefits__item-title:last-child {
  margin-top: 100px;
}

.benefits__item-description {
  margin: 0;
  width: 255px;
  text-align: center;
}

.works__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
  padding-left: 110px;
}

.works__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
}

.works__list::before {
  position: absolute;
  right: 390px;
  top: 15px;
  content: "";
  display: block;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
}

.works__link-wrapper {
  margin-top: 79px;
  padding-left: 110px;
}

.works-item {
  width: 285px;
  margin-right: 95px;
}

.works-item:last-child {
  margin-right: 0;
}

.works__item-number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.works-item {
  width: 285px;
  margin-right: 95px;
}

.works-item:last-child {
  margin-right: 0;
}

.works-item__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin: 0;
}

.works-item__number::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  margin-bottom: 67px;
  position: relative;
  z-index: 1;
}

.works-item__title {
  -moz-columns: #333D4B;
       columns: #333D4B;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  margin: 38px 0 42px;
}

.works-item__title--coffee {
  width: 255px;
}

.works-item__description {
  margin: 0;
}

.footer {
  background: #2C343E;
}

.footer__container {
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.footer__nav {
  margin-left: 103px;
  margin-right: 370px;
}

.footer__social-media-links {
  display: flex;
}

.footer__media-link {
  margin-right: 24px;
}

.footer__media-link:last-child {
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */