.about-us{
  background: url(../../img/intro-bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px){
.about-us{
    background: url(../../img/intro-bg@2x.jpg) no-repeat;
    background-size: cover;
  }
}

.about-us__content{
  width: 100%;
  padding: 137px 750px 137px 85px;
}

.about-us__title{
  margin: 0;
  font-family: "Fraunces", serif !important;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.about-us__description{
  margin: 0;
  color: #FEFCF7;
}


@media only screen and (max-width: $tablet) {
  .about-us{
    background: url("../../img/intro-about-tablet.jpg") no-repeat;
    background-size: cover;
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min-resolution: 192dpi) and (min-width: 320px),
  only screen and (min-resolution: 2dppx) and (min-width: 320px){
  .about-us{
      background: url("../../img/intro-about-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .about-us__content{
    width: 100%;
    padding: 118px 233px 118px 58px;
  }

  .about-us__title{
    font-size: 32px;
    line-height: 40px;
  }

  .about-us__description{
    font-size: 15px;
    line-height: 25px;
  }
}


@media only screen and (max-width: $mobile) {
  .about-us{
    background: url(../../img/intro-about-mobile.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min-resolution: 192dpi) and (min-width: 320px),
  only screen and (min-resolution: 2dppx) and (min-width: 320px){
  .about-us{
      background: url(../../img/intro-about-mobile@2x.jpg) no-repeat;
      background-size: cover;
    }
  }

  .about-us__content{
    width: 100%;
    padding: 111px 24px 87px;
    text-align: center;
  }

  .about-us__title{
    font-size: 28px;
    line-height: 28px;
  }

  .about-us__description{
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}