.collection{
  margin-top: 136px;
}

.collection__title{
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 150px;
  text-align: center;
  font-weight: 900;
  position: relative;
  text-transform: lowercase;
  opacity: 0.5;
  line-height: 1.5;
  color: $darker;

  &::before{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.412) 0%, #fefcf7 100%);
  }
}

.collection__list{
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  transform: translateY(calc(-50% + 90px));
}

.collection__item{
  width: 256px;
  margin-right: 30px;
  
}

.collection__item:last-child{
  margin-right: 0;
}

.collection__item-title{
  margin-top: 71px;
  margin-bottom: 24px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: $darker;
}

.collection__item-description{
  margin: 0;
  text-align: center;
  color: $dark;
}


// RESPONSIVE
@media screen and (max-width: $tablet) {
  .collection{
    margin-top: 144px;
  }

  .collection__title{
    font-size: 96px;
  }

  .collection__list{
    flex-direction: column;
    transform: translateY(-76px);
    padding-left: 59px;
  }

  .collection__item{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 47px;
  }
  .collection__item:last-child{
    margin-bottom: 0;
    padding-left: 27px;
  }

  .collection__item-content{
    max-width: 282px;
    margin-left: 36px;
    padding-bottom: 24px;
  }

  .collection__item-title{
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    line-height: 32px;
  }

  .collection__item-description{
  margin: 0;
  text-align: left;
  color: $dark;
  font-size: 15px;
  line-height: 25px;
  // margin-top: 24px;
}
}


@media screen and (max-width: $mobile) {
  .collection{
    margin-top: 120px;
  }

  .collection__title{
    font-size: 40px;
    text-align: center;
  }

  
  .collection__list{
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    padding: 0;
  }

  .collection__item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .collection__item:last-child{
    padding-left: 0;
  }

  .collection__item-title, .collection__item-description{
    text-align: center;
  }

  .collection__item-content{
    margin: 0;
  }
}