.commitment{
  margin-top: 168px;
  padding: 0 85px;
}

.commitment__content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commitment__content{
  max-width: 540px;
  margin-left: 125px;
}

.commitment__content-wrapper::before{
  content: '';
  display: block;
  width: 445px;
  height: 520px;
  background-image: url(../../img/commitment-desctop.jpg);
}

.commitment__title{
  margin: 0;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.commmitment__description{
  margin: 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}


@media only screen and (max-width: $tablet) {
  .commitment{
    margin-top: 144px;
    padding: 0;
  }

  .commitment__content{
    max-width: 339px;
    margin-left: 69px;
  }

  .commitment__content-wrapper::before{
    content: '';
    display: block;
    width: 281px;
    height: 470px;
    background-image: url(../../img/commitment-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min-resolution: 192dpi) and (min-width: 320px),
  only screen and (min-resolution: 2dppx) and (min-width: 320px){
  .commitment__content-wrapper::before{
      background: url("../../img/commitment-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .commitment__title{
    font-size: 32px;
    margin-bottom: 30px;
  }

  .commmitment__description{
    margin: 0;
    mix-blend-mode: normal;
    opacity: 0.8;
    font-size: 15px;
    line-height: 25px;
  }
}


@media only screen and (max-width: $mobile) {
  .commitment{
    margin-top: 120px;
  }

  .commitment__content-wrapper{
    display: flex;
    flex-direction: column;
  }

  
  .commitment__content-wrapper::before{
    content: '';
    display: block;
    width: 100%;
    height: 400px;
    background-image: url(../../img/commitment-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min–moz-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min-resolution: 192dpi) and (min-width: 320px),
  only screen and (min-resolution: 2dppx) and (min-width: 320px){
    .commitment__content-wrapper::before{
      background: url("../../img/commitment-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
  
  
  .commitment__content{
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
