.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: $tablet) {
  .container{
    max-width: 719px;
  }
}

@media only screen and (max-width: $mobile) {
  .container{
    max-width: 357px;
  }
}