.create-plan{
  margin-top: 168px;
  display: flex;
  padding: 0 85px;
}

.create-plan__section{
  max-width: 730px;
  margin-left: 125px;
}

.create-plan__list{
  @include reset-list;
}

.create-plan__button-title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  margin-top: 88px;
}

.create-plan__button-title-wrapper--first{
  margin-top: 0;
}

.create-plan__item-title{
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  position: relative;
  max-width: 100%;
}

.create-plan__button-wrapper{
  text-align: right;
}

.create-plan__item-button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 19px;
  height: 12px;

  &::before,
  &::after{
    content: '';
    display: block;
    width: 15px;
    height: 4px;
    background-color:  #0E8784;
    transition: 0.2s ease all;
  }

  &::before{
    transform: translateY(50%) rotate(-45deg);
  }
  &::after{
    transform: translateX(-60%) translateY(-50%) rotate(45deg);
  } 

  
}

.create-plan__item-button-opened::before{
    transform: translateY(50%) rotate(45deg);
  }

  .create-plan__item-button-opened::after{
    transform: translateX(-60%) translateY(-50%) rotate(-45deg);
  }

.create-plan__modal-description{
  margin: 0;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.create-plan__price-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.create-plan__modal-price{
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}


@media only screen and (max-width: $tablet) {
  .create-plan{
    margin-top: 144px;
    display: block;
    padding: 0;
  }

  .create-plan__section{
    max-width: 100%;
    margin-left: 0;
  }

  .create-plan__button-title-wrapper{
    max-width: 100%;
    margin-top: 100px;
  }
  
  .create-plan__item-title{
    font-size: 32px;
  }

  .create-plan__button-wrapper{
    text-align: center;
  }
  
  .create-plan__modal-description{
    margin-top: 7px;
  }
}

@media only screen and (max-width: $mobile) {
  .create-plan{
    margin-top: 120px;
  }

  .create-plan__button-title-wrapper{
    max-width: 100%;
    margin-top: 110px;
  }

  .create-plan__item-title{
    font-size: 24px;
  }

  .create-plan__item-button{
    margin-left: 69px;
  }

  .create-plan__modal-description{
    margin: 0;
  }

}