.footer{
  background: #2C343E;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 85px;
  padding-right: 85px;
  display: none;
}

.footer__container{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}

.footer__nav-media-wrapper{
  width: 772px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-media-links{
  @include reset-list;
  display: flex;
}

.footer__media-link{
  margin-right: 24px;
}

.footer__media-link:last-child{
  margin-right: 0;
}