.footer{
  background: #2C343E;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 85px;
  padding-right: 85px;
}

.footer__container{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  width: 1110px;
  margin-left: auto;
}

.footer__nav-media-wrapper{
  width: 772px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-media-links{
  @include reset-list;
  display: flex;
}

.footer__media-link{
  margin-right: 24px;
}

.footer__media-link:last-child{
  margin-right: 0;
}

.footer__media-link-hover:hover{
  fill: #FDD6BA;
  transition: 0.5s ease all;
}

.footer__nav-item:hover{
  transition: 0.5s ease all;
  cursor: pointer;
  color: #FEFCF7;
}

@media screen and (max-width: $tablet) {
  .footer{
    padding: 54px 175px 54px 200px;
  }

  .footer__container{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 1110px;
    margin-left: auto;
  }

  .footer__container{
    flex-direction: column;
    align-items: center ;
    width: 100%;
    margin: 0;
  }

  .footer__nav-media-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__nav{
    margin-top: 33px;
    margin-bottom: 65px;
  }
}


@media screen and (max-width: $mobile) {
  .footer{
    padding: 55px;
  }
}