.headquarter-item{
  width: 285px;
  margin-left: 95px;

  &:nth-child(1){
    margin-left: 0;
  }
}

.headquarter-item__img-wrapper{
  min-height: 49px;
  margin-bottom: 45px;
}

.headquarter__item-title{
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.headquarter-item__description{
  margin: 0;
}

.header-item__description-info{
  display: block;
}


@media only screen and (max-width: $tablet) {
  .headquarter-item{
    width: 223px;
    margin-left: 10px;
  }

  .headquarter-item__img{
    margin-bottom: 49px;
  }

  .headquarter__item-title{
    font-size: 24px;
    margin-bottom: 21px;
  }
  
}


@media only screen and (max-width: $mobile) {
  .headquarter-item{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    &:last-child{
      margin: 0;
    }
  }

  .headquarter-item__img{
    margin-bottom: 47px;
  }

  .headquarter__item-title{
    font-size: 28px;
    margin-bottom: 22px;
  }

  .headquarter-item__description{
    text-align: center;
  }
  
}