.site-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
}

.nav__list{
  @include reset-list;
  display: flex;
}

.nav__list-item{
  color: $kul-rang;
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.nav__list-item:last-child{
  margin-right: 0;
}


.site-header__button{
  background-color: transparent;
  border: none;
  display: none;
  // width: 16px;
  // height: 15px;
}

.site-header__button-img{
  width: 16px;
  height: 15px;
}

// RESPONSIVE
@media only screen and (max-width: $mobile) {
  
  .site-header__nav{
    display: none;
  }
  
  .site-header__button{
    display: inline-block;
    // width: 16px;
    // height: 15px;
  }
  .site-header__logo-img{
    width: 140px;
    height: 18px;
  }
}
