.site-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;

}

.site-header__logo{
  z-index: 1;
}

.site-header__logo-img{
  width: 236px;
  height: 26px;
}

.site-header__burger{
  display: none;
  z-index: 1;
}

.site-header__nav-link:hover{
  transition: 0.5s ease all;
  color: #333D4B;
}

// RESPONSIVE
@media screen and (max-width: $tablet) {
  .site-header__logo-img{
    width: 235px;
    height: 25px;
  }
}


@media only screen and (max-width: $mobile) {

  @keyframes nav-open {
    0%{
      transform: translateY(-100%);
    }
  }

  .site-header{
    position: relative;
  }

  .site-header__nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 82px);
    background-color: #fff;
    background: linear-gradient(180deg, #FEFCF7 55.94%, rgba(254, 252, 247, 0.504981) 100%);
  }
  
  .site-header__button{
    display: inline-block;
    // width: 16px;
    // height: 15px;
  }
  .site-header__logo-img{
    width: 140px;
    height: 18px;
  }

  .site-header__burger{
    cursor: pointer;
    min-height: 15px;
    width: 20px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
  }

  .site-header__burger-inner,
  .site-header__burger::after,
  .site-header__burger::before {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #333D4B;
    content: '';
    border-radius: 1.5px;
    transition: 0.5s ease all;
  }

  .site-header__burger-inner{
    margin: 3px 0;
  }

  .site-header__burger--opened .site-header__burger-inner{
    display: none;
  }

  .site-header__burger--opened::before,
  .site-header__burger--opened::after{
    position: absolute;
    top: 50%;
    left: 0;
    // right: 0;
  }

  .site-header__burger--opened::before{
    transform: translateY(-50%) rotate(45deg);
  }

  .site-header__burger--opened::after{
    transform: translateY(-50%) rotate(-45deg);
  }

  .site-header__nav--opened{
    background-color: #FEFCF7;
  }

  .site-header__nav--opened .site-header__nav{
    display: block;
    animation: 0.3s ease nav-open;
  }

  .site-header__nav-link{
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }

  .site-header__nav--opened{
    display: block;
    z-index: 1;
  }
}
