.site-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
}

.site-header__logo-img{
  width: 236px;
  height: 26px;
}




.site-header__button{
  background-color: transparent;
  border: none;
  display: none;
  // width: 16px;
  // height: 15px;
}

.site-header__button-img{
  width: 16px;
  height: 15px;
}

// RESPONSIVE
@media screen and (max-width: $tablet) {
  .site-header__logo-img{
    width: 235px;
    height: 25px;
  }
}


@media only screen and (max-width: $mobile) {
  
  .site-header__nav{
    display: none;
  }
  
  .site-header__button{
    display: inline-block;
    // width: 16px;
    // height: 15px;
  }
  .site-header__logo-img{
    width: 140px;
    height: 18px;
  }
}
