.intro{
  margin-top: 34px;
  background-image: url(../img/backgorund-coffe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 85px;
  padding-bottom: 116px;
  display: none;
}

.intro__content{
  width: 520px;
}

.intro__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.intro__description{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  margin: 0;
  margin-top: 32px;
  opacity: 0.8;
}

.intro__link{
  margin-top: 56px;
}