.intro{
  margin-top: 45px;
  background-image: url(../img/backgorund-coffe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 117px;
  padding-left: 85px;
  padding-bottom: 116px;
}

.intro__content{
  max-width: 520px;
}

.intro__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0;
}

.intro__description{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  margin: 0;
  margin-top: 32px;
  opacity: 0.8;
}


@media screen and (max-width:$tablet) {
  .intro{
    margin-top: 54px;
    // background-image: url(../../img/coffee-tablet.png);
    background-size: cover;
    background-position: center;
    max-width: 689px;
    height: 500;
    // background-attachment: fixed;
    padding-top: 104px;
    padding-left: 58px;
    padding-bottom: 103px;
    
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
  }

  .intro__content{
    max-width: 398px;
  }
  
  .intro__title{
    font-size: 48px;
    line-height: 48px;
  }

  .intro__description{
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0 40px
  }
}