.intro{
  background-image: url(../img/backgorund-coffe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 117px;
  padding-left: 85px;
  padding-bottom: 116px;
}

.intro__content{
  max-width: 520px;
}

.intro__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0;
}

.intro__description{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 56px;
  opacity: 0.8;
}


@media screen and (max-width:$tablet) {
  .intro{
    background-image: url(../../img/intro-bg-tablet.png);
    background-size: cover;
    background-position: center;
    max-width: 689px;
    height: 500;
    // background-attachment: fixed;
    padding-top: 104px;
    padding-left: 58px;
    padding-bottom: 103px;
  }

  .intro__content{
    max-width: 398px;
  }
  
  .intro__title{
    font-size: 48px;
    line-height: 48px;
  }

  .intro__description{
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0 40px
  }
}

@media screen and (max-width: $tablet) {
  .intro{
    background-image: url(../../img/intro-bg-tablet.png);
  }
}

@media screen and (max-width:$mobile) {
  .intro__content-wrapper{
    position: relative;
  }
  .intro{
    background-image: url(../../img/intro-bg-mobile.png);
    max-width: 327px;
    padding: 100px 24px;
  }

  .intro__content{
    max-width: 279px;
    text-align: center;
  }

  .intro__title{
    font-size: 40px;
    line-height: 40px;
  }

  .intro__description{
    margin-bottom: 39px;
  }
}