.main-link{
  font-family: "Fraunces";
  font-size: 18px;
  min-width: 217px;
  display: inline-block;
  background-color: $yashil;
  padding: 15px 31px;
  border-radius: $sm-radius;
  color: #FEFCF7;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: 0.5s ease all;

  &:hover{
    background: #66D2CF;
    cursor: pointer;
  }
}