.nav__list{
  @include reset-list;
  display: flex;
}

.nav__list-item{
  color: $kul-rang;
  margin-right: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.nav__list-item:last-child{
  margin-right: 0;
}

.nav__link{
  text-decoration: none;
  color: #83888F;
}

@media screen and (max-width: $mobile) {
  .nav__list{
    flex-direction: column;
    align-items: center;
  }

  .nav__list-item{
    margin: 0;
    margin-bottom: 24px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}