.summary{
  margin-top: 88px;
  padding: 47px 64px;
  background: #2C343E;
  border-radius: 10px;
}

.summary-title{
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.summary-description{
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.summary-link{
  border: none;
  margin-top: 40px;
  margin-bottom: 168px;
}

.summary-description__span{
  color:#0E8784;
}

.summary-description__creating-plan{
  color:#83888F;
  font-size: 24px;
}


@media only screen and (max-width: $tablet) {
  .summary{
    margin-top: 140px;
    padding: 27px 44px;
  }

  .summary-link{
    margin-bottom: 144px;
  }
}