.works{
  width: 1110px;
  display: block;
  margin: 0 auto;
  display: none;
}

.works__title{
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

.works__list{
  @include reset-list;
  display: flex;
  width: 1045px;
  justify-content: space-between;
  position: relative;
}

.works__list::before{
  position: absolute;
  right: 285px;
  top: 15px;
  content: '';
  display: block;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
}

.works__link-wrapper{
  margin: 64px 0 200px;
}